.App {
  display: grid;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  margin: 25%;
  margin-top: 5.5rem;
}

@media screen and (max-width: 48em) {
  .App {
    margin: 4rem;
  }
}

@media screen and (max-width: 23.75em) {
  .App {
    margin: 2.4rem;
  }
}
